<header style="background-color: black;">
     <div ng-class="isNewClass ? 'blog' : ''" ng-controller="NavController" class="container ng-scope">
     <a class="header-logo" ui-sref="anon.home" href="#/"></a>

</div>
</header>


<section class="container container--fluid container--darkBackground interstitial  u-table" style="background-image: url(/images/support_hero_v3.jpg)">
     <div class="container u-alignCenter u-tableCell u-verticalAlignMiddle">
          <h5>We’re here to help</h5>

          <h1>Corsa Support</h1>

</div>
</section>
<section class="container container--fluid interstitial interstitial--road">
     <div class="container">
          <div class="timeline timeline--renter timeline--left">

               <h5 class="timeline-header text--green u-alignCenter">Call Corsa Support</h5>

               <ol class="timeline-events">
                    <li class="timeline-event timeline-event--middle timeline-event--position0">
                         <span class="timeline-eventArrow"></span>
                         <span class="timeline-eventMarker"></span>
                         <h6 class="subheader timeline-eventTitle"><b> 24/7 Support & Roadside Assistance</b></h6>

                         <p class="timeline-eventText"><b> US:</b>  (888) 834-1463</p>
                         <!-- <p class="timeline-eventText"><b> Canada:</b>  1-888-391-0460</p> -->
                    </li>


               </ol>
          </div>
          <!-- <div class="timeline timeline--owner timeline--right">
               <h5 class="timeline-header text--purple u-alignCenter">Live Chat Corsa</h5>
               <a href="javascript:void(0)" ng-click = "showChat()" class="click-btn">Chat Now</a>
               <ol class="timeline-events">


               </ol>
          </div> -->



     </div>
</section>
<footer style="background-color: black;">
<div class="container">
 <div class="grid grid--withHugeVerticalSpacing">
   
   <div class="grid-item grid-item--12 grid-item--medium12 grid-item--small12">
     <section>
        <h6 class="u-tinyScreenOnly">About Corsa</h6>
        <ul class="footer-list footer-list--inline">
          <li class="footer-listItem text--small u-hideTinyScreen">&copy;2016 Corsa</li>
          <!-- <li class="footer-listItem"><a ui-sref="anon.about">About</a></li>

          <li class="footer-listItem"><a ui-sref="anon.terms">Terms</a></li>
          <li class="footer-listItem"><a ui-sref="anon.privacy">Privacy</a></li> -->
        </ul>
     </section>
   </div>

 </div>
</div>
</footer>
<style>
#mainfooter {
    display: none;
}
#mainHearder {
    display: none;
}
</style>
